<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links favoritos</h1>
            <h3 class="mb-5">
                <em>Sore your favotire links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
            Let's Satrt
            </a>
        </div>
    </header>
</main>